$primaryColor: #0dbb50;
$secondaryColor: #00824c;
$backgroundColor: Whitesmoke;
$fontColor: #253f33;

$gutter: 2%;
$dblgutter: $gutter * 2;

$font: 'KoHo', sans-serif;
$fontLight: 300;
$fontReg: 400;
$fontBold: 600;